@page {
  margin: 30px;

  @bottom-right {
    content: "Page " counter(page) " of " counter(pages);
    font-size: 9px;
    color: #555;
  }

  /* @bottom-left {
    content: element(developerInfo);
  } */
}

body {
  font-family: "Segoe UI", Roboto, sans-serif;
  color: #333;
  background: #f7f9fb;
}

.receipt-container {
  margin-top: 195px;
  background: #fff;
  border-radius: 10px;
  padding: 20px 30px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #207757;
  padding-bottom: 0px;
  margin-bottom: 5px;
}

.header-left h1 {
  font-size: 24px;
  color: #207757;
  margin: 0;
}

.header-right img {
  width: 120px;
}
/* Flex layout for title + barcode */
.info-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: 1px solid #ddd; /* ✅ full-width underline */
  padding-bottom: 5px;
  margin-bottom: 10px;
}

/* Section title without border */
.section-title-customer {
  font-size: 18px;
  color: #207757;
}

/* Barcode on the right */
.barcode-inline img {
  width: 140px;
  height: auto;
  opacity: 0.9;
}

.section-title {
  font-size: 18px;
  color: #207757;
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
  padding-bottom: 5px;
  margin-top: 0px;
}

.info-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-bottom: 25px;
}

.info-grid p {
  margin: 0;
  font-size: 14px;
}

.info-grid strong {
  color: #444;
  width: 130px;
  display: inline-block;
}

.transaction-details {
  margin-bottom: 25px;
}

.footer {
  text-align: center;
  margin-top: 40px;
  font-size: 12px;
  color: #777;
  border-top: 1px solid #ddd;
  padding-top: 10px;
}

.highlight {
  color: #207757;
  font-weight: 600;
}

.page-footer .center {
  text-align: center;
  font-weight: bold;
  color: #ff0000;
}

.developerInfo {
  /* position: running(developerInfo); */
  font-size: 9px;
  color: #555;
  float: right;
}
